{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}

{% block body %}
<div class = 'container my-4' style='text-align:center;width:100%;background-color:#242424'>
    <!--<ul class="list-group">
        <li class="list-group-item">Kushal Desai</li>
        <li class="list-group-item">kushaldesai01@gmail.com</li>
        <br>
        <li class="list-group-item">Smit Desai</li>
        <li class="list-group-item">smeetdesai31@gmail.com</li>
        <br>
        <li class="list-group-item">Daksh Gajjar</li>
        <li class="list-group-item">dakshgajjar25@gmail.com</li>
        
    </ul>-->
<!--border-style: solid;border-color: c3a1ed ;border-width: medium;-->
    <br>
    <table style='width:100%;padding:10px;'>
        <tr>
            <td style='padding: 15px;'>
                <div class="card" style="width: 18rem;margin:0 auto;background:#c3a1ed">
                    <div class="card-body">
                    <h5 class="card-title">Kushal Desai</h5>
                    <h6 class="card-subtitle mb-2">kushaldesai01@gmail.com</h6>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style='padding: 15px;'>
                <div class="card" style="width: 18rem;margin:0 auto;background:#c3a1ed">
                    <div class="card-body">
                    <h5 class="card-title">Smit Desai</h5>
                    <h6 class="card-subtitle mb-2">smeetdesai31@gmail.com</h6>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style='padding: 15px;'>
                <div class="card" style="width: 18rem;margin:0 auto;background:#c3a1ed">
                    <div class="card-body">
                    <h5 class="card-title">Daksh Gajjar</h5>
                    <h6 class="card-subtitle mb-2">dakshgajjar25@gmail.com</h6>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br>
</div>
{% endblock body %}